#mainContainer{
    position: absolute;
    background-color: blue;
    width: 85%;
    height: 85%;
    top: 7.5%;
    left: 7.5%;
}

#leftPanel{
    float:left;
    background-color: rgb(226, 226, 226);
    width: 18%;
    height: 100%;
    text-align: center;
}

#middlePanel{
    float:left;
    background-color: black;
    width: 64%;
    height: 100%;
}

#rightPanel{
    float:left;
    background-color: rgb(153, 153, 153);
    width: 18%;
    height: 100%;
}




#logoutButton{
    position: relative;
    top: 25px;
    width: 80%;
    left: 10%;
    height: 25px;
    background-color: seashell;
    box-shadow: 1px 1px 10px black;
}

#allPlayersView{
    position: relative;
    top: 7%;
    width: 100%;
}

#gmName{
    background-color: white;
}

.playerName{
    position: relative;
    text-align: center;
    height: 45px;
    width: 99%;
    border: 1px solid black;
    background-color: rgb(67, 108, 221);
}





#messagesPane{
    position: relative;
    height: 94%;
}

#messageInput{
    position: relative;
    width: 99.3%;
    height: 5%;
    font-size:18px;
}





.playerAttributeModifier {
    width: 40%;
    height: 24px;
}

.playerAttributeIcon{
    width: 20px;
    height: 20px;
}

.userPicture{
    width: 100%;
}

.playerAttributeScore{
    width: 20%;
    height: 16px;
}

.playerAttributeTitle{
    width: 30%;
}

table{
    position: relative;
    left: 10%;
}

#savePlayerAttributes {
    position: relative;
    left: 30%;
    height: 40px;
    width: 40%;
    top: 15px;
}

#nextDisplay{
    position: relative;
    left: 35%;
    width: 30%;
    top: 15px;
}




