#mainContainer{
    position: absolute;
    width: 100%;
    height: 100%;
}

#leftPanel{
    float:left;
    background-color: rgb(226, 226, 226);
    width: calc(5vmax + 7rem);
    height: 100%;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

#middlePanel{
    position: absolute;
    float:left;
    background-color: black;
    height: 100%;
    left: calc(5vmax + 7rem);
    right: 15rem;
}

#rightPanel{
    position: absolute;
    float:left;
    background-color: rgb(55,55,55);
    color: white;
    width: 15rem;
    height: 100%;
    right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.button.smallerButton{
    font-size: 1em;
}

#logoutButton{
    position: relative;
    top: 1rem;
}
#logoutButton:hover{
    background-color: white;
}

#allPlayersView{
    position: relative;
    top: 7%;
    width: 100%;
}

#gmName{
    background-color: white;
}

.playerName{
    position: relative;
    text-align: center;
    height: 45px;
    width: 99%;
    border: 1px solid black;
    background-color: rgb(67, 108, 221);
    line-height: 45px;
}





#messagesPane{
    position: relative;
    height: calc(100vh - 2em);
    overflow-y: auto;
    overflow-x: hidden;
}

#messageInput{
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 2em;
    font-size: 1.2rem;
    margin: 0px;
}




#activePlayerView {
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.playerAttribute {
    position: relative; 
    width: 100%;
}

.playerAttribute.modifier {
    width: 40%;
    height: 24px;
}

.playerAttribute.icon{
    width: 20px;
    height: 20px;
    background-color: rgb(30,30,30);
    border-radius: 8px;
    padding: 4px;
}


.userPicture{
    width: 100%;
}

.playerAttribute.score{
    width: 20%;
    height: 16px;
}

.playerAttribute.title{
    width: 30%;
}

table{
    position: relative;
    left: 10%;
}

#savePlayerAttributes {
    position: relative;
    display: block;
    margin: auto;
    width: max-content;
    top: 2px;
}

#nextDisplay{
    position: relative;
    display: block;
    margin: auto;
    width: max-content;
    /* top: 2px; */
}

#rollDice {
    position: relative;
    display: block;
    margin: auto;
    width: max-content;
    /* top: 2px; */
}


.message {
    color:white;
    margin-bottom: -1rem;
}

.message p {
    position: relative;
    top: -1rem;
    font-size: 0.7em;
}

.message span{
    font-size: 1.2em;
}
