body {
    background-color: black;
}

.button {
    background-color:black;
    border: 2px solid white;
    color: white;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(2vw + 1em);
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.button:hover,
.button:focus{
    background-color: white;
    color: black;
}

p {
    color: white;
}

label {
    color: white;
}

.topContainer1{
    float:left;
    width: 33.3%;
    padding: 10px;
    box-sizing:border-box;
}

.topContainer2{
    float:right;
    width: 66.6%;
    padding: 10px;
    box-sizing:border-box;
}

.midContainer1{
    float:left;
    width: 33.3%;
    padding: 10px;
    box-sizing:border-box;
}

.midContainer2{
    float:right;
    width: 66.6%;
    padding: 10px;
    box-sizing:border-box;
}

.topInput{
    padding-bottom: 30px;
    padding-left:20px;
    display: inline-block;
}

.Attribute input{
    width: 30px;
}

.Attribute{
    padding-bottom: 20px;
    padding-left: 20px;
}

.Save input{
    width: 30px;
}

.Save{
    padding-bottom: 20px;
    padding-left: 20px;
}

.Skill input{
    width: 30px;
    
}

.Skill{
    padding-bottom: 20px;
    padding-left: 20px;
}

#submitButton {
    float: left;
    display: block;
}

#characterBackground{
    padding-bottom: 20px;
    float: center;
    display: block;
    
}

#characterBackground textarea{
    display: block;
    
}