@font-face {
    font-family: 'vt323regular';
    src: url('fonts/vt323-regular-webfont.woff2') format('woff2'),
         url('fonts/vt323-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'vt323regular';
 }

.modal {
    display: none;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modalContent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    background-color: rgb(226, 226, 226);
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }