body {
    margin: 0;
    background-color: black;
}

#logoContainer{
    position: absolute;
    height: 80%;
    width: 100%;
    top: 0%;
    transition: all 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: url(critfail_pic2.png) no-repeat center center;
    background-size: contain;
}

#topRowContainer{
    position: absolute;
    height: 25%;
    width: 100%;
    top: 50%;
    opacity: 0;
    transition: all 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#bottomRowContainer{
    position: absolute;
    height: 20%;
    width: 100%;
    top: 75%;
    opacity: 0;
    transition: all 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#subtitle{
    position: absolute;
    height: 15%;
    width: 90%;
    left: 1em;
    bottom: 0%;
    text-align: left;
    font-size: 2em;
    color: white;
}

.column {
  float: left;
  width: 33.33%;
  text-align: center;
}

.doubleColumn {
  float: left;
  width: 50%;
  text-align: center;
}

.row{
    position: relative;
    margin: 3em;
}

.button {
    background-color:black;
    border: 0.05em solid white;
    color: white;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(2vw + 1em);
    margin: 0.2em 0.1em;
    cursor: pointer;
    border-radius: 0.25em;
}
.button:hover,
.button:focus{
    background-color: white;
    color: black;
}

.bottomButton {
    bottom: 0;
    font-size: calc(1vw + 1em);
    margin: 0;
}

.returnButton {
    bottom: 0;
    font-size: calc(0.5vw + 0.5em);
    margin: 0;
}

.submitButton {
    bottom: 0;
    margin: 0;
    font-size: 1em;
}

.submitButton:hover,
.submitButton:focus{
    background-color: maroon;
    color: white;
}

#loginButton {
    float: left;
    text-align: left;
}

#faqButton {
    float: right;
    text-align: right;
}

input[type=text], input[type=password] {
    padding: 0.75em 1.25em;
    margin: 0.5em 0;
    display: inline-block;
    border: 0.05em solid #ccc;
    box-sizing: border-box;
}

.modalClose {
    text-align: left;
    position: relative;
  }