body {
    margin: 0;
    transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#logoContainer{
    position: absolute;
    height: 80%;
    width: 100%;
    top: 0%;
    transition: all 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: url(critfail_pic2.png) no-repeat center center;
    background-size: contain;
}

#topRowContainer{
    position: absolute;
    height: 25%;
    width: 100%;
    top: 50%;
    opacity: 0;
    transition: all 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#bottomRowContainer{
    position: absolute;
    height: 20%;
    width: 100%;
    top: 75%;
    opacity: 0;
    transition: all 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#subtitle{
    position: absolute;
    height: 15%;
    width: 90%;
    left: 1em;
    bottom: 0%;
    text-align: left;
    font-size: 2em;
    color: white;
}

.disabled{
    pointer-events: none;
    cursor: default;
}

.column {
  float: left;
  width: 33.33%;
  text-align: center;
}

.row{
    position: relative;
    margin: 3em;
}

.button.topButton {
    font-size: calc(2vw + 1em);
    margin: 0.2em 0.1em;
}

.button.bottomButton {
    font-size: calc(1vw + 1em);
}

#submitButton {
    float: left;
    text-align: left;
}

#cancelButton {
    float: right;
    text-align: right;
}

#loginButton {
    float: left;
    text-align: left;
}

#faqButton {
    float: right;
    text-align: right;
}