body {
    margin: 0;
    background-color: black;
}

#logoContainer{
    position: absolute;
    height: 80%;
    width: 100%;
    top: 0%;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    background: url(critfail_pic2.png) no-repeat center center;
    background-size: contain;
}

#topRowContainer{
    position: absolute;
    height: 25%;
    width: 100%;
    top: 50%;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

#bottomRowContainer{
    position: absolute;
    height: 20%;
    width: 100%;
    top: 75%;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

#subtitle{
    position: absolute;
    height: 15%;
    width: 90%;
    left: 1em;
    bottom: 0%;
    text-align: left;
    font-size: 2em;
    color: white;
}

#FAQinfo {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 2;
    cursor: pointer;
}

#FAQContent{
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    font-size: 1.5em;
    color: white;
}

.column {
  float: left;
  width: 33.33%;
  text-align: center;
}

.row{
    position: relative;
    margin: 3em;
}

.button {
    background-color:black;
    border: 2px solid white;
    color: white;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(2vw + 1em);
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0.25em;
}
.button:hover,
.button:focus{
    background-color: white;
    color: black;
}

.bottomButton {
    bottom: 0;
    font-size: calc(1vw + 1em);
    margin: 0;
}

#loginButton {
    float: left;
    text-align: left;
}

#faqButton {
    float: right;
    text-align: right;
}